#title {
    background-color:#ff4c68;
    color: #fff;

}

.meet {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    padding:1.5rem;
}               
.container-fluid {
    padding-top: 3%;
    padding-right: 15%;
    padding-bottom: 3%;
    padding-left: 15%;
}
/* begin edit */

.body {
    font-family: 'Montserrat', sans-serif;
}

.custom1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-bottom: 4.5rem;
    font-size: 2.5;
}
.navbar-brand{
    font-size: 2.5rem;
}

.navbar-item{
    padding: 0 18;
}
.titleimage{
  width: 60%;
  transform: rotate(25deg);
  margin-left: 7rem;


}
.btn {
margin-left: .5rem;
margin-bottom: 10rem;
}
#features{
margin: 2rem;
}
.fas {
color:#ef8172;
margin: 1rem;
padding-left: 30%;
padding-right: 30%;

}

.fas:hover{
   color:#ff4c68 ;
}

.fa1{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 1.5rem;
padding-left: 20%;
padding-right: 20%;

}
.fa2{
color: #8f8f8f;
align-content: center;
padding-left: 20%;
padding-right: 20%;
}

#testimonials{

text-align: center;
background-color:#ef8172;
}

.carousel-item{
    padding: 7% 15%;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 3rem;
line-height: 1.5;
color: #fff;
}
.pebbles{
border-radius: 100%;
width: 20%;
margin: 1.5em;
}

#press{
    background-color:#ef8172;
    text-align: center;
}
.press2{
    margin: 1em;
}

.needs{
    color: black;
    font-family: 'Montserrat', sans-serif;
  margin: 1rem; 

}
.needs2{
    margin-top: 0rem;
    margin-left: 1rem;

}
